.btn-buscar {
    background-color: chocolate !important;
    color: #fff !important;
    }

    .btn-buscar:hover {
        background-color: #f38b2a !important;
    }

    input {
        border-color: #FF851B !important; 
    }