.Nav {
    text-align: end;
    padding-right: 2rem;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #ffff;
}

.Nav:hover{
    cursor: pointer;
    color: #003f3f;
}


nav {
    margin-top: 1.5rem;
}